<p>
  <div class="time"><small><%= message.created_at.strftime("%I:%M%p")%></small></div>
  <b><%= message.user.first_name + ' ' + message.user.last_name %></b>
  <div class="msgcontent"><%= message.content %></div>
</p>
