<div class="int-body">
  <img class="int-logo" src= <%= asset_path(footer-logo.svg) %> alt="">
  <div class="int-main-container">
    <h1 class="int-cta">Find your space.</h1>
    <button class="scroll" type="button" name="button"></button>
  </div>
</div>
<script type="text/javascript">
  $(".scroll").click(function() {
    $('html,body').animate({
        scrollTop: $(".main-container").offset().top},
        'slow');
  });
</script>
