<br><%= "this is the #{@space.name} page" %>
<div class = "desks-requested"></div>

<p>This page will contain all the information on the space that is available, the pictures of the space, google maps location, and the information which we searched</p>

<% @space.images.each do |image| %>
  <%= image_tag image.location_picture.url(:medium) %>
<% end %>

<% unless @space.user.id == current_user.id%>
  <%= link_to 'Request Reserved Space', new_space_lease_path(@space), remote: true%>
<% end %>

<div id = "new-lease-form"></div>


</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});

</script>
