<ul id="users-list">
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <li>
        <%= user.first_name + ' ' + user.last_name %>
        <%= image_tag "green_dot.png", id: "#{user.id}-status" %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render @messages %>
<%= render partial: "/messages/form", locals: {room: @room, message: @message} %>
