.show-page-image {
  height: 400px;
}

.show-page-image-container {
  width: 475px;
  height: 400px;
  overflow: hidden;
  float: left;
  margin-top: 50px;
}

.map-container {
  width: 950px;
  margin: 0 auto;
}

.space-details-container {
  width: 475px;
  float: left;
  height: 400px;
  background-color: #00AEEF;
  color: white;
  margin-top: 50px;
  padding: 30px;
  padding-top: 10px;
}
