// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
}

.active{ visibility: visible;}
.inactive{ visibility: hidden;}

#newmessage{
  color: tomato;
  font-size: 15px;
  position: absolute;
  right: 176px;
  top: 5px;
  font-weight: bolder;
  margin: 0;
}

div.space-box{
  width: 300px;
  height: 200px;
}

.space-details-container {
  position: relative;
}

.message-user-icon {
  width: 26px;
  margin-left: 400px;
  margin-top: 10px;
  position: absolute;
  z-index: 10;
}

.message-user-text {
  width: 150px;
  right: 0px;
  top: 14px;
  position: absolute;
  font-size: 12px;
}
