html {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, arial;
  margin-bottom: 150px;

  // background: url("/images/foggy_birds.png")
  /*background-image: url(images/subtle_white_feathers.png);*/
}

h2 {
  font-size: 16px;
  font-weight: bolder;
  color: #2E3192;
}

.main-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  padding-bottom: 25px;
}

#sign-in-button {

}

.nav-item a {
  color: white;
  text-decoration: none;

}

nav {
  height: 30px;
  width: 100%;
  background-color: #2E3192;
  position: absolute;
  top: 0;

}

nav ul {
  padding: 0;
  margin: 0;

}

.nav-content {
  max-width: 950px;
  margin: 0 auto;
  font-size: 11px;
  text-align: right;
  position: relative;

}

.width-control {
  max-width: 950px;
  margin: 0 auto;
  position: relative;

}

.sort-tools {

  margin: 0 auto;
  text-align: center;
}

.nav-item {
  list-style: none;
  color: white;
  display: inline-block;
  line-height: 30px;
  margin-right: 28px;
}

.nav-item:last-child {
  margin-right: 80px;
}

.header-container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

#logo {
  width: 150px;
}

.featured-image {
  max-width: 950px;
  height: 500px;
  overflow: hidden;
  margin-top: 40px;
}

.inside-feature-frame {
  max-width: 950px;
}

.int-btn-1 {
  cursor: pointer;
}
