$cubicle-color: #2E3192;

* {
  box-sizing: border-box;
}

body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

// button.panel-header {
//   margin-top: 10px;
//   padding-top: 15px !important;
//   padding-bottom: 15px !important;
//   padding-left: 27px !important;
//   padding-right: 27px !important;
//   font-weight: normal;
//   display: block;
//   white-space: normal;
//   width: 100%;
  // background-color: #8b9dc3;
//   color: white;
//   font-size: 16px;
//   text-align: center;
//   margin-top: 0px;
//   margin: 0px;
//   position: absolute;
//   right: 0;
//   top: 0;
//   left: 0;
//   padding: 1rem;
//   text-align: center;
//   font-size: 14px;
//   border:none !important;
//   box-shadow:none !important;
// }

 ul.panel-header {
  text-align: center;
  margin-top: 0px;
  margin: 0px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 14px;
}

form {
  margin-top: 30px;
  text-align: center;
}

.submit {
  margin-top: 10px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 27px !important;
  padding-right: 27px !important;
  font-weight: normal;
  display: block;
  white-space: normal;
  width: 100%;
  background-color: $cubicle-color;
  color: white;
  font-size: 16px;
  border:none !important;
  box-shadow:none !important;
}

.textfield {
  display: block;
  border: 1px solid #c4c4c4;
  width: 100%;
  padding: 10px;
  margin: 5px
}

// .footer {
//   margin: 0px;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 1rem;
//   background-color: #efefef;
//   text-align: center;
// }

.loginprompt {
  float: left;
  font-size: 14px;
  font-style: normal;
  width: 50%
}

// .loginlink {
//   display: inline-block;
//   width: 20%;
//   padding: 10px;
//   color: $cubicle-color;
//   font-size: 14px;
//   float: right;
//   margin-right: 100px;
//   margin-top: 5px;
// }

a {
  color: $cubicle-color;
}

.checkfield{
  float: left;
  margin-bottom: 5px;
}

.checkboxfield {
  display:inline-block;
  width:19px;
  height:19px;
  cursor: pointer;
  margin-top: 10px;
}

.width-control > a[href="/users/sign_up"] {
  display: none;
}

#new_user.new_user > a[href="/users/sign_in"] {
  display: none;
}

a[href="/users/password/new"] {

}

a[href="/users/auth/facebook"] {
  margin-top:15px;
  max-width:100%;
  background-color: #8b9dc3;
  color: white;
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  text-decoration:none;
  align-items:flex-start;
  cursor:default;
  -webkit-appearence: push-button;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 1em;
  font-family: inherit;
  border-color: #000;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  min-height: 30px;
  border:none !important;
  box-shadow:none !important;
}

#forgot_password_title {
  font-weight: normal;
  text-align: center;
}
