
.each-lease {
  margin-bottom: 5px;
  background-color: #00AEEF;
  color: white;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.each-lease-sq {
  display: inline-block;
  line-height: 20px;
  width: 200px;
}

.each-lease-sq-half {
  display: inline-block;
  line-height: 20px;
  width: 473px;
}

.space-control a {
  text-decoration: underline;
  color: #2E3192;

}

.request-status {
  background-color: #2E3192;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  text-align: center;
  height: 100%;
  line-height: 57px;

}

.space-between-lease {
  margin-right: 20px;
}
