<h1>Thanks for using cubicle</h1>
<h1>Hello <%= @user.first_name %>, You have a new lease request on your space <%= @space.title %></h1>
<p>
  Please login through <%= @url %> and check your profile page
</p>
